<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/restaurant" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="restaurant_name" />
    </div>
    <div>
        <label for="description">Description:</label>
        <br>
        <textarea rows="4" cols="50" name="description">
          Enter text here...
        </textarea>
    </div>
    <div class="button">
        <button type="submit">Create Restaurant</button>
    </div>
</form>
  </body>
</html>
